<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <variable name="SystemName" value="ClipSync"/>
  
  <targets async="true">
    
    <target name="GeneralLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/GeneralLog_${shortdate}.log"/>
    <target name="CopyHistory" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/CopyHistory_${shortdate}.log"/>

  </targets>

  <rules>

    <logger name="GeneralLog" levels="Info,Error" writeTo="GeneralLog" final="true" />
    <logger name="CopyHistory" levels="Info,Error" writeTo="CopyHistory" final="true"/>

    <logger name="*" minlevel="Debug" writeTo="GeneralLog">
      <filters>
        <when condition="starts-with(logger, 'Quartz')" action="Ignore" />
      </filters>
    </logger>

  </rules>
</nlog>
